:root {
  --background-color: #003249;
  --display-color: white;
  --button-color: #ccdbdc;
  --button-highlight-color: #9ad1d4;
  --button-text-color: #17455a;
  --operator-button-color: #81a2b1;
  --operator-button-highlight-color: #007ea7;
}

body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
}

#calc-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25em;
  background-color: var(--background-color);
  width: 50vw;
  height: 60vh;
  margin: 3em auto;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: 3px 3px 4px 1px #81a2b1;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4em;
  padding-right: 1em;
  font-size: 1.2em;
  font-weight: 600;
  grid-column: 1 / -1;
  background-color: var(--display-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 0.2em;
  font-size: 1.5em;
  font-weight: 600;
}

.btn.number:hover {
  background-color: var(--button-highlight-color);
}

.btn.operator {
  background-color: var(--operator-button-color);
}

.btn.operator:hover {
  background-color: var(--operator-button-highlight-color);
}

.btn:focus {
  outline: none;
}